// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

table,
td {
    border: 1px solid black;
}

table{
    width: 100%;
    box-shadow: 10px 5px 5px rgba($color: black, $alpha: 0.2);
    img{
        width: 200px;
    }
}

th,td{
    padding: 20px;
}

thead,
tfoot {
    background: linear-gradient(90deg,white,black);
    
    color: #fff;
}

select {
    font-family: 'FontAwesome', 'Second Font name'
}
